[Unit]
Description=Shadowsocks Server
After=network.target

[Service]
Type=oneshot 
PIDFile=/var/run/shadowsocks_server.pid
ExecStart=/usr/local/bin/ssserver -c /etc/shadowsocks.json -d start
ExecReload=/usr/local/bin/ssserver -c /etc/shadowsocks.json -d restart
ExecStop=/usr/local/bin/ssserver -c /etc/shadowsocks.json -d stop
PrivateTmp=true  

[Install]
WantedBy=multi-user.target